/* Option 2 */
:root {
  --c-background: #DCE7EF;
  --c-headers   : #1D3354;
  --c-tablebrdr : #9ED8DB;
  --c-tabletext : black;
  --c-hover     : #E9FFF9;
  --c-highlights: #EBA2A5;
  --c-plots     : white;
  --c-outlines  : black;
}