/* Midnight Dark palette */
:root {
  --c-background: #2C3E50;
  --c-headers   : #ECF0F1;
  --c-tablebrdr : #34495E;
  --c-tabletext : #ECF0F1;
  --c-hover     : #34495E;
  --c-highlights: #3498DB;
  --c-plots     : #2C3E50;
  --c-outlines  : #ECF0F1;
}
