/* Option 3 */
:root {
  --c-background: #FDD481;
  --c-headers   : #003049;
  --c-tablebrdr : #FFC2C2;
  --c-tabletext : black;
  --c-hover     : #EAE2B7;
  --c-highlights: #FFA84A;
  --c-plots     : white;
  --c-outlines  : black;
}