/* Option 1 */
:root {
  --c-background: #9ED8DB;
  --c-headers   : #142339;
  --c-tablebrdr : #9AB9D0;
  --c-tabletext : black;
  --c-hover     : #E9FFF9;
  --c-highlights: #EBA2A5;
  --c-plots     : white;
  --c-outlines  : black;
}