/* Warm Sunset palette */
:root {
  --c-background: #FFD699;
  --c-headers   : #8B4513;
  --c-tablebrdr : #CD853F;
  --c-tabletext : black;
  --c-hover     : #FFE4B5;
  --c-highlights: #FFA500;
  --c-plots     : white;
  --c-outlines  : #8B4513;
}
